header {
  background-color: rgb(125, 104, 104);
  height: 60px;
}

#logo {
  float: left;
}

#ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 1440px;
}

#li {
  display: inline;
  color: #dddddd;
}

body {
  background-color: white;
}

#todolist {
  margin-top: 2%;
  color: rgb(125, 104, 104);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  margin-top: 2%;
}

th {
  color: #dddddd;
}

td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px;
  color: rgb(125, 104, 104);
}

#checkyes {
  accent-color: #08d61c;

}

#checkno {
  accent-color: #f10606;
}

#checkyes,
#checkno {
  width: 20px;
  height: 20px;
}

#tasks,
#status {
  background-color: rgb(125, 104, 104);
  text-align: center;
  padding: 18px;
}



footer {
  background-color: rgb(125, 104, 104);
  height: 35px;
  margin-top: 4.5%;
}

h5 {
  color: #dddddd;
}